/* Comentario de linea */
/* Esto
es un comentario
de bloque
Por ejemplo 
Autor: Nombre del Autor
Fecha: Fecha de Creación
Descripción: Este archivo CSS contiene los estilos para el sitio web X.
*/

/* Secciones de un código en css 
1- Comentarios de cabecera

2- Reglas de estilo, ordenados por especificidad :
    a- Reglas universales.
    b- Reglas generales root o <html>, <body>, header, footer, main 
    c- Otros selectores de tipo o etiquetas: hi, p, span, a
    d- selectores de id 
    e- selectores de clase
    f- selectores especificos o pseudo-clases

3- Media Queries 
*/

html, body {
    font: size 16px;
    /* 
       absoluta = pixel
       relativas = em, rem, %, vh, vw
       16px = 1 em
       2 em = 16*2 = 32px
    */ 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
/* header
*/
/*
. class
# id
*/
.header_logo {
    /*  
    *** UNIDADES *** 
    unidad em observa la configuración de su padre 
    unidad rem observa la configuración del root o ancestro mas alejado */
   
    /* propiedades del texto */
    font-size: 2rem;
    text-align: left;
    text-decoration: none;

    /* Propiedades del contenedor */

    /* indica que tomará como referencia al primer ancestro que tenga un position distinto de absolute */
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 1;

}
.logo-color a i{
    /*color hexadecimal 6 posiciones alfanumericas y dos ultimas como canal alpha*/
     /* position: fixed; para dejarlo fijo */
    color: #f2f2f2;
}

/* Etiquetas en main  "Selectores"*/

.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;/* escondemos las barras de navegacion */

}

.banner_content {
    /* propiedades de a fuente*/
    text-align: center;
    color: #f2f2f2;
    /* Propiedades de contenedor*/
    position: absolute;
    top: 35vh;
    left: 40vw;
    z-index: 2;
    
}
.banner_content h1{
    font-size: 3rem;
}

.banner_content h2 {
    font-size: 1.5rem;
    font-weight: lighter;

}
.banner_button {
    /*Convertimos el elemento de linea a bloque*/
    display: inline-block;
    /* Propiedades del contenedor*/
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    /* propiedades de la fuente del color*/
    color: #f2f2f2;
    font-size: 2rem;
    text-decoration: none;
}
.video_background {
    /* posicion del contenedor*/
    position: absolute;
    top: 0;
    left: 0;
    /* dimensiones del contenedor*/
    width: 100vw;
    height: 100vh;
    /* controlamos el ajuste del tamaño del video
    fill (estira), contain (no distorsiona), cover
    (acerca y cubre), none
    */object-fit: cover;

}