<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CaC-Movies, peliculas y series online</title>
        <link rel="icon" href="../favicon.ico" type="image/x-icon">
        <script src="https://kit.fontawesome.com/fa04600604.js" srossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav>
                <!-- logo de la pagina -->
                <div id="logo">
                  <a href="/">
                        <img src="../static/img/logo.png" alt="logo">
                      <i class="logo"></i>
                  </a>
                </div>
    
                <!-- hipervínculos del menú -->
                <ul class="nav-links">
                    <li><a href="Nuestros_servicios.html">Nuestros Servicios</a></li>
                    <li><a href="./templates/sanatorios.html" class="btn-nav">Sanatorios</a></li>
                    <li><a href="#"> <span class="login-text"><i class="fa-regular fa-circle-user"></i>Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Formulario -->
            <p>¡Bien venidos al Sanatorio XXXXXXXXX !</p>
            <section id="form-wrapper">
                <form action="#" method="post" novalidate id="form-register">
                    <h2>Registro</h2>
                    <!-- Campos -->
                    <div class="form-control">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" required id="name">
                    </div>
                    <div class="form-control">
                        <label for="last-name">Apellido</label>
                        <input type="text" name="last-name" required id="last-name">
                    </div>
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" name="email" required id="email">
                    </div>
                    <div class="form-control">
                        <label for="passw">Contraseña</label>
                        <input type="password" name="passw" required id="passw">
                    </div>
                    <div class="form-control">
                        <label for="date">Fecha de nacimiento</label>
                        <input type="date" name="date" required id="date">
                    </div>
                    <div class="form-control">
                        <select name="genero" id="genero" class="form-select">
                            <option value="">Genero</option>
                            <option value="IN">Indefinido</option>
                            <option value="MU">Mujer</option>
                            <option value="HO">Hombre</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="phone">Telefono</label>
                        <input type="number" name="phone" required id="phone">
                    </div>
                    <!-- Checkbox -->
                    
                    <!-- boton de la accion -->
                    <button type="submit">Registrate</button>
                    <button type="reset">Borrar todo</button>

                    <div>
                        <img src="../static/img/registro_ingresar.jpg" alt="img registro">
                    </div>
                    
                    <!-- zona de ayuda -->
                    <div class="form-help">
                        <a href="#">¿Necesitas ayuda?</a>
                    </div>
                    
                </form>
            </section>
            
        </main>
        <footer>
            <a href="#">Términos y condiciones</a> &nbsp;&nbsp;
            <a href="#">Preguntas frecuentes</a>&nbsp;&nbsp;
            <a href="#">Ayuda</a>&nbsp;&nbsp;
            <a href="#">Administrador de peliculas</a>
        </footer>
        <!-- este codigo genera espacios en blanco para generar una separación=> &nbsp; -->
        
    </body>
</html>
