/* configuraciones globales */

:root{
    /* configuracion de colores */
    --primary-color: #9f3647;
    --secondary-color:#fdede3;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    /*colores de fondo*/
    --bg-color:#181419;
    --bg-input-color:#2f1b352c;
    /*fuente primaria*/
    --primary-font: Arial, sans-serif, helvetica;
}

body, html{
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color:var(--primary-color); /* Color de fondo bordó */
    padding: 2vh 0; /* Espaciado interior en la cabecera */    
    
    /*SI QUEREMOS DEJAR LA BARRA FIJA AL HACER SCROLL*/
    position: fixed; /* Hace que la barra de navegación sea fija */
    top: 0; /* Lo posiciona en la parte superior de la ventana */
    width: 100%; /* Ajusta su ancho al 100% de la ventana */
  }

  /*   Crea un contenedor flexible: 
  Al aplicar display: flex a un elemento padre, se convierte en un contenedor flexible 
  que organiza a sus elementos hijos de manera flexible 
  en una sola línea o en varias líneas según sea necesario. */

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;/* centra horizontalmente*/
  }

  nav ul{
    list-style-type: none;/* quita el estilo de listado*/
    padding: 0;
    margin: 0;
    text-align: right;
  }

  nav ul li{
    display: inline-block;
  }

  /* Pseudoclases es un selector que marca los elementos que están en un estado 
  específico first-child: significa primer hijo */

  nav ul li:first-child{
    margin-left: 0;
  }

  nav ul li:last-child{
    margin-right: 2vw;
  }

  nav ul li a, nav>a{
    display: block;/* convierte los elementos de linea a bloque en el menú*/
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: background-color 0.3s;
    
  }
  /*Otra pseudoclase en el estado "sobrevolando"*/
    /* Cambio de color al pasar el mouse sobre los enlaces */
    /* :hover permite aplicar estilos especiales a un elemento 
     cuando se encuentra en un estado específico, como cuando el cursor 
    se coloca sobre él  */

    nav ul li a:hover{
        background-color: var(--bg-input-color);
    }
    /* zona del boton*/

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .btn{
        padding: 10px 20px;
        font-size: 1rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .btn:hover{
        background-color: var(--bg-input-color);
    }

    @keyframes pulse{
        0%{
            transform: scale(1);
        }50%{
            transform: scale(1.1);
        }100%{
            transform: scale(1);
        }
    }
    .btn:hover{
        animation: pulse 0.5s infinite alternate;
    }